<%= form_for @article, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label' %>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  <div id="editor" class="form-group">
    <%= f.label :body, :class => 'control-label'%>
    <div class="preview">
      <%= f.text_area :body, :class => 'form-control', 'v-model' => "input" %>
    </div>
    <div class="preview">
      <div v-html="input | marked"></div>
    </div>
    <div><span><%= f.file_field :image %></span></div>
  </div>
  <div class="form-group">
    <%= f.label :owner, :class => 'control-label' %>
    <%= f.text_field :owner, :class => 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                articles_path, :class => 'btn' %>
  </div>
<% end %>

<script>
  var Editor = new Vue({
    el: '#editor',
    data: {
      input: ''
    },
    filters: {
      marked: marked
    }
  })

  $('input[type=file]').change(function(){
      var data = new FormData();
      var csrfToken = $('meta[name="csrf-token"]').attr('content');
      data.append('s3image[file]', this.files[0]);
      data.append('authenticity_token', csrfToken);

      axios.post('/s3images', data)
      .then(function (response) {
        var image = "![画像](" + response.data.imageUrl + ")";
        $('textarea').val($('textarea').val() + '\n\n' + image);
        Editor.$set('input', Editor.$data.input + '\n\n' + image);
      })
      .catch(function (error) {
        console.log(error);
      });
  });


</script>
